/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

html, body {
    overflow-x: hidden;
}




body{
    width: 100vw;
    height: 100vh;
    background-color: white;

}

main{
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: left;
    align-items: center;

    /* background-color: blue; */
}

.sidebar{
    height: 100%;
    width: 20%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;

}

.profile, .priorityChange, .projectListButton, .addProjectButton{
    width: 100%;
    height: 10%;
    border: 2px solid black;
}

.contentBox{
    height: 100%;
    width: 80%;
    border: 2px solid blue;
}

.closeBox{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1%;
  top: 1%;
  width: 25px;
  height: 25px;
  font-size: 1.25rem;
}

.taskHoldingBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;
    border: 2px solid red;
}

.addBox{
    height: 75vh;
    width: 60vh;
    position: absolute;
    top: 10%;
    right: 35%;
    border: 2px solid blue;
    background-color: lightblue;
}

.inputForm{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.projectNameTitle{
  text-align: center;
  margin-top: 2rem;
}

.projectDiv{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

.projectTitle{
  text-align: center;
}

.buttonHold{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
  width: 100%;
}

.addToDo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
  width: 2rem;
  height: 2rem;
  font-size: 1.75rem;
  font-weight: 900;
}

.toDoDiv{
    height: 75vh;
    width: 60vh;
    position: absolute;
    top: 10%;
    right: 35%;
    border: 2px solid blue;
    background-color: lightblue;
  }

  .newToDoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }